html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  height: inherit;
  width: inherit;
  text-align: center;
}
h1 {
  margin: 15% 0 1% 0;
  font-size: 200%;
  font-weight: 600;
  line-height: 100%;
  clear: both;
}
h2 {
  margin: 0 0;
}
h3 { /*used as a title in projects page*/
  clear: both;
  font-size: 130%;
  line-height: 100%;
  margin: 9% 0 2% 0;
  font-weight: 600;
}
h4 {
  clear: both;
  font-size: 120%;
  line-height: 100%;
  margin: 15% 0 1.5% 0;
}
a:focus {
  outline: none !important;
}
.wrapper {
  font-family: 'Verdana', sans-serif;
  width: 96%;
  height: 100%;
  max-width: 850px;
  margin: 0 auto;
  font-size: 100%;
  text-align: left;
}
.ninja {
  visibility: hidden;
}
.spacer {
  visibility: hidden;
  clear: both;
  padding: 0;
  margin: 0;
}
.s-we-1 {
  width: 0;
}
.s-we-2 {
  height: 8%;
}
.s-press-1 {
  height: 4%;
}
.s-press-2 {
  height: 4%;
  margin-top: 44%;
}
.s-project-1 {
  height: 5%;
}
.s-project-2 {
  height: 4%;
}
.s-project-3 {
  height: 13%;
}
.s-home-1 {
  height: 3%;
}
.s-home-2 {
  height: 0;
}
.s-archive-1 {
  height: 5%;
}
.s-house-1 {
  height: 0;
}
.s-culture-1 {
  height: 0;
}
.index-table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  margin-bottom: 13%;
  margin-top: 2.2%;
  font-size: 100%;
}
.index-table td {
  padding: 0.3%;
  font-size: 100%;
}
.index-table tr {
  font-size: 100%;
}
.box {
  display: block;
  width: 100%;
  padding-top: 100%;
  border: 1pt solid black;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  color: black;
  text-decoration: none;
  font-size: 100%;
  transition-duration: 0.7s;
  transition-property: background-color, color;
}
a.box:hover {
  background-color: black;
  color: white;
}
.box.empty {
  color: grey !important;
  border: none;
  font-size: 80% !important;
  /*no select*/
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
span.title {
  display: block;
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  font-size: 130%;
  line-height: 100%;
  font-weight: 600;
}
span.subtitle {
  display: block;
  position: absolute;
  top: 53%;
  left: 0;
  right: 0;
  font-size: 90%;
  line-height: 100%;
  font-weight: 600;
}
span.type {
  display: block;
  position: absolute;
  font-size: 80%;
  line-height: 100%;
  font-weight: 400;
  bottom: 5%;
  left: 0;
  right: 0;
}
.news-image {
  width: 100%;
  margin-bottom: 3%;
}
.news-title-link {
  display: contents;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.news-title-link:hover {
  color: #824747;
  text-decoration: underline;
}
a.box.we {
  background-color: black;
  color: white;
}
a.box.we:hover {
  background-color: #824747;
  border-color: #824747;
}
span.title.we {
  font-size: 213%;
}
.title-press {
  top: 37% !important;
  font-size: 160% !important;
}
.break {
  display: table;
  height: 0;
  width: 100%;
  border-bottom: 0.13rem solid black;
  margin: 0;
  clear: both;
}
.publication-break {
  display: table;
  height: 0;
  width: 100%;
  margin: 0;
  clear: both;
  border-bottom: 0.1rem solid black;
}
.general-image {
  width: 100%;
  height: auto;
  margin: 0;
}
.news-description-section {
  width: 49%;
  float: left;
}
.news-description {
  line-height: 100%;
  font-weight: 400;
  margin: 1.5% 0;
  font-size: 95%;
  font-family: arial;
}
.description {
  display: block;
  line-height: 100%;
  font-weight: 400;
  margin: 2% 0;
  width: 50%;
  color: black;
  text-decoration: none;
}
.width-100 {
  width: 100%;
}
.des-title {
  font-weight: bold;
  font-size: 100%;
  font-family: verdana;
}
.page-box {
  display: table-cell;
  width: 20%;
  padding-top: 20%;
  position: relative;
  border: 2px solid black;
  text-align: center;
  float: left;
  margin-top: 2.2%;
  margin-bottom: 15%;
}
span.page-title {
  display: block;
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  font-size: 226%;
  line-height: 100%;
  font-weight: 600;
}
span.page-subtitle {
  display: block;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  font-size: 170%;
  line-height: 100%;
  font-weight: 600;
  background-color: red;
}
span.page-type {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 115%;
  line-height: 100%;
  font-weight: 400;
  bottom: 9%;
}
.anchor-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.anchors {
  display: inline-block;
  position: relative;
  text-align: left;
  clear: both;
  margin-bottom: 7%;
  margin-top: -8%;
  float: left;
}
a.anchor-title {
  font-size: 100%;
  font-weight: 400;
  color: black;
  line-height: 200%;
  display: block;
}
a.anchor-project {
  color: black;
}
a.title-1 {
  display: block;
  width: fit-content;
  margin: 1% 0;
  font-size: 160%;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  color: black;
}
.page-back-box {
  display: block;
  width: 8%;
  padding-top: 10%;
  position: relative;
  text-align: center;
  float: left;
  margin-top: 8%;
  margin-left: 3%;
}
.page-back-box:active {
  background-color: #c2c0c0;
  border-radius: 15%;
}
.we-back-box {
  clear: left;
  margin-top: -10%;
  margin-bottom: 15%;
  margin-left: 0;
}
.back-button {
  position: absolute;
  color: black !important;
  font-size: 400%;
  font-weight: 100;
  line-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-family: none;
  z-index: 5;
}
.page-button-description {
  display: block;
  position: absolute;
  top: 69%;
  left: 0;
  right: 0;
  text-decoration: none !important;
  color: black !important;
  font-size: 75%;
}
.back-button-2 {
  clear: none;
  margin-left: 0;
  display: none;
  z-index: 1 !important;
}
.page-back-box:hover + .back-button-2 {
  display: block !important;
  animation: slide .2s;
}
.back-button-2:hover {
  display: block !important;
  opacity: 1 !important;
}
.project-box {
  margin: 8% 0 2% 0;
}
.upper-title-description {
  font-size: 100%;
}
.project-table {
  width: 100%;
  border-spacing: 0;
}
.project-table tr {
  width: 100%;
}
.project-table td {
  padding: 0;
  width: 50%;
  margin: 0;
}
.project-data {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.project-inner {
  position: relative;
  display: block;
  width: 87%;
}
.data-box {
  text-align: left;
  float: left;
  margin: 13.3% 0;
}
.box-left {
  width: 52%;
}
.box-right {
  width: 42%;
  margin-left: 6%;
}
.data-box-datatype {
  font-size: 81%;
}
.data-box-data {
  font-size: 100%;
  font-weight: 700;
}
.break-table {
  width: 100.2%;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: 0.1rem solid black;
}
.vertical-line {
  position: absolute;
  top: 26%;
  left: 49%;
  width: 11%;
  height: 1%;
  transform: rotate(90deg);
  border-bottom: 0.1rem solid black;
}
.vertical-line.bottom {
  top: auto !important;
  bottom: 24% !important;
}
.databox-break-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: 0.1rem solid black;
  box-sizing: border-box;
}
.project-image {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}
.news-section {
  margin: 10% 0 0 0;
  padding: 0;
}
.page-box.we {
  background-color: black !important;
}
.page-title.we {
  top: 30% !important;
  font-size: 300% !important;
}
.page-title.we, .page-type.we {
  color: white !important;
}
.social-table {
  float: left;
  table-layout: fixed;
  border-spacing: 1%;
  width: 30%;
  margin-top: 2.2%;
  margin-left: 7%;
}
.social-table tr {
  width: 100%;
}
.social-table td {
  padding: 0;
  margin: 0;
  border: 0.01em solid black;
}
.social-empty {
  visibility: hidden;
}
.logo-image {
  display: block;
  width: 100%;
}
.we-content-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.we-content-link {
  color: brown;
  line-height: 181%;
}
.we-content {
  font-size: 100%;
}
img.architect {
  display: block;
  width: 20%;
  height: auto;
  float: left;
  margin-bottom: 3%;
  clear: left;
}
.architect-des {
  margin-left: 5%;
  margin-top: 1%;
  float: left;
  width: 75%;
}
.architect-name {
  font-size: 120%;
  font-weight: 600;
}
.we-row:after {
  width: 100%;
  clear:both;
}
.we-column {
  width: 23%;
  float: left;
  margin: 1% 1%;
}
.we-link {
  color: brown;
}
p.we-paragraph {
  margin: 5% 0;
}
.publication {
  display: block;
  position: relative;
  padding: 0;
  margin: 10% 0 3% 0;
  width: 100%;
  float: left;
}
.publication-name {
  display: block;
  position: absolute;
  top: 100%;
  width: 94%;
  float: left;
  margin: 0 0.5% 0 5.5%;
}
.publicaton-name-main {
  margin: 0 0.5% 0 0 !important;
  width: 46% !important;
  transform: translateY(-100%);
}
.publication-image {
  display: block;
  width: 50%;
  float: right;
}
.width-full {
  width: 100%;
}
.third {
  width: 33.33% !important;
  font-size: 70%;
}
.half {
  width: 50% !important;
  font-size: 80%;
}
.bold {
  font-weight: bold !important;
}
.we-year {
  font-weight: bold;
  margin: 20% 0 16% 0;
  display: block;
}
.project-fullscreen-image {
  width: 100%;
  max-width: 2000px;
}
.background-grey {
  background-color: #eaeaea;
}
p.project-description {
  background-color: #eaeaea;
  line-height: 135%;
  font-size: 80%;
  padding: 3%;
  margin: 0;
}
.project-read-more {
  display: none;
}
.read-more-button {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2%;
  color: inherit !important;
  text-decoration: underline !important;
  font-size: 70%;
  font-weight: 600;
}
.read-more-button:hover {
  cursor: pointer;
}
.container {
  min-width: 0;
  max-width: none;
}
.quick-facts {
  margin-top: 10%;
  margin-bottom: 10%;
}
.col-12, .col-sm-6 {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 576px) {
  .project-databox {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }
  .project-datatype {
    margin-right: 40% !important;
    float: left !important;
  }
  .removing-break {
    display: block !important;
  }
  .project-vertical-line {
    top: 50% !important;
    left: 34% !important;
    width: 10% !important;
    border-bottom: 0.01rem solid black !important;
  }
  .break {
    border-bottom: 0.01rem solid black !important;
  }
  .publication-break {
    border-bottom: 0.01rem solid black !important;
  }
  .databox-break-table {
    border-bottom: 0.01rem solid black !important;
  }
  .vertical-line {
    border-bottom: 0.01rem solid black !important;
  }
  .project-spacing-right {
    margin-right: 0 !important;
  }
  .project-spacing-left {
    margin-left: 0 !important;
  }
  .project-spacing-bottom {
    margin-bottom: 8% !important;
  }
  .quick-facts {
    font-size: 150%;
  }
  .project-description-row {
    font-size: 200%;
  }
  .news-description-parent {
    font-size: 150%;
  }
  .show-map-button {
    width: 0.1em !important;
  }
  .box {
    font-size: 110%;
    border: 0.7px solid black;
  }
  .special-font-size-1 {
    font-size: 120% !important;
  }
  .break-table {
    border-bottom: 0.01rem solid black;
  }
  .page-box {
    border: 1px solid black;
  }
  #show-more {
    font-size: 150% !important;
  }
  .back-button {
    font-size: 550% !important;
    top: -19%;
  }
  .page-button-description {
    font-size: 90% !important;
    top: 73% !important;
  }
  .anchor-title {
    font-size: 130% !important;
  }
  h3 {
    font-size: 160%;
  }
  .back-button-2 {
    display: block !important;
    margin-left: 2% !important;
  }
  .carousel-indicators li {
    display: none;
  }
}
.project-databox {
  width: 50%;
  float: left;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  font-size: 85%;
}
.project-location-field {
  white-space: nowrap;
}
.project-datatype {
  font-size: 100%;
  float: right;
  margin-right: 65%;
}
.project-vertical-line {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 16%;
  border-bottom: 0.1rem solid black;
  transform: rotate(90deg);
}
.iframe-container {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.project-info-data {
  position: absolute;
  left: 44%;
  font-weight: 700;
  margin-left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-custom {
  width: 100%;
  background-color: white;
}
.carousel-inner {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-image-custom {
  display: block;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.carousel-black .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}
.carousel-black .carousel-control-next .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}
.carousel-black .carousel-indicators li{
  background-color: #999 !important;
}
.carousel-control-next {
  width: 50% !important;
}
.carousel-control-prev {
  width: 50% !important;
}
.carousel-control-next-icon {
  position: absolute;
  right: 20%;
}
.carousel-control-prev-icon {
  position: absolute;
  left: 20%;
}
.map-row {
  height: 50vh;
  margin-top: -7%;
  margin-bottom: 3%;
}
.map-row-hidden {
  visibility: hidden;
  position: absolute;
}
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
.show-map-button {
  display: contents;
}
.map-button-text {
  font-weight: 400;
}
.show-map-image {
  width: 0.7em;
  height: auto;
  margin-left: 10px;
}
.show-map-button:hover {
  cursor: pointer;
}
.show-map-button:focus {
  outline: none;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
.removing-break {
  position: absolute;
  top: 0;
  display: none;
}
.project-desc-box {
  width: 50%;
}
.carousel {
  overflow: hidden;
}
.carousel-indicators {
  margin-left: -100% !important; /*very large number to provide space on each side to prevent carousel indicators from resizing*/
  margin-right: -100% !important;
}
.carousel-indicators li {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: #ddd;
}
.image-link {
  display: contents;
}
.float-r {
  float: right;
}
.archive-back-box {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.archive-main-title {
  margin-top: 4%;
  width: auto;
  float: left;
}
#show-more {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 4%;
  color: black;
  font-size: 100%;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.bold:hover {
  color: #824747
}
.title-housing {
  font-size: 170% !important;
}
.data-size-medium {
  font-size: 95% !important;
}
.size-research {
  font-size: 160% !important;
}
@keyframes slide{
  from {
    margin-left: -7%;
    opacity: 0;
    pointer-events: none;
  }
  to {
    margin-left: 0;
    opacity: 1;
    pointer-events: auto;
  }
}
.copyright {
  font-size: 70%;
}
.size-culture {
  font-size: 185% !important;
}
