html {
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#main-image {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}
#links {
  font-family: "Verdana";
  position: absolute;
  bottom: 4vh;
  left: 5vw;
  z-index: 2;
  color: white;
  font-size: 70%;
  font-weight: 400;
}
#links a {
  color: inherit;
  text-decoration: none;
}
#logo-container {
  width: 85%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#logo-image {
  width: 100%;
}
.animate{
  animation:opac 5s
}
@keyframes opac{
  from{opacity:0}
  to{opacity:1}
}
