html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-image: url("empty url");  Slika dodana v javaScriptu*/
}
#links {
  font-family: "Verdana";
  position: absolute;
  bottom: 7%;
  left: 5%;
  z-index: 2;
  color: white;
  font-size: 70%;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
#links a {
  color: inherit;
  text-decoration: none;
}
#text-dividend {
  margin: 0 6px;
  display: inline;
}
#logo-container {
  width: 85%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#logo-image {
  width: 100%;
}
.animate{
  animation: fadeIn 6s;
}
@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}
@media(max-width: 576px) {
  #links {
    left: 50%;
    transform: translateX(-50%);
    font-size: 450%;
  }
}
